@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>assign a new engineer to @Html.DisplayFor(model => model.Name)</h3>
<hr>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)
    <label for="EngineerId">engineer:</label>
    @Html.DropDownList("EngineerId", null, new { @class="form-control", @style="width:300px"})
<br>
    <input type="submit" value="save" class="btn btn-primary"/>
}