@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>add a new machine</h3>
<hr>

@using (Html.BeginForm())
{
  <label for="Name">name: </label>
  <input type=text id="Name" name="Name" placeholder="new name here" class="form-control" style="width:300px;" autocomplete="off" required>
<br>
    <label for="EngineerId">engineer:</label>
    @Html.DropDownList("EngineerId", null, new { @class="form-control", @style="width:300px"})
    <br>
  <input type="submit" value="add" class="btn btn-primary" />
}