@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>edit "@Html.DisplayFor(model => model.Name)" (Machine)</h3>
<hr>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

<label for="Name">name: </label>
  <br>
  @* @Html.EditorFor(model => model.Name) *@
  <input type=text id="Name" name="Name" placeholder="new name here" class="form-control" style="width:300px;" value="@Html.DisplayFor(model => model.Name)" autocomplete="off" required>
  <br>
  <input type="submit" value="save" class="btn btn-primary"/>
}