@{
Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>add an engineer</h4>
@using (Html.BeginForm())
{
<label for="Name">name: </label>
  <input type=text id="Name" name="Name" placeholder="new name here" class="form-control" style="width:300px;" required>
  <br>
  <input type="submit" value="add" class="btn btn-primary"/>
}