@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h3>delete engineer "@Html.DisplayFor(model => model.Name)"?</h3>
<hr>

@using (Html.BeginForm())
{
  <input type="submit" value="delete" class="btn btn-danger"/>
}