@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>delete engineer "@Html.DisplayFor(model => model.Name)"?</h2>

@using (Html.BeginForm())
{
  <input type="submit" value="delete" class="btn btn-danger"/>
}