@{
  Layout = "_Layout";
}

<h1>Welcome to the Machine Shelter!</h1>
<p>@Html.ActionLink("See all Machines", "Index", "Machines")</p> <p>@Html.ActionLink("See all Engineers", "Index", "Engineers")</p>